.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  border-radius:70%;
  object-position: 50%;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #75CFB8;
  min-height: 30px;
  display: inherit;
  position: sticky;
  top:0;
  z-index: 1000;
  padding: 10px 0;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.App-header2{
  background-color: #FFD495;
  min-height: 30px;
  display: inherit;
  position: sticky;
  top: 94px;
  z-index: 1000;
  padding: 10px 0;
  font-size: calc(10px + 2vmin);
  color: black;
}
.botonN{
  background-color: #FFD495;
  border-radius: 10%;
  height: 20%;
  border-color: #FFD495;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
