root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: small;
    margin: 0 auto; /* Centra horizontalmente */
    margin-left: 150px;
    width: 80%; /* Ancho de la tabla */
    max-width: 600px; /* Máximo ancho de la tabla */
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 85px;
    background-color: #75CFB8;
}

td {
    vertical-align:central;
    padding-bottom: 10px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #75CFB8;
    border-bottom-color: #75CFB8;
    border-left-color: #75CFB8;
    border-right-color: #75CFB8;
    vertical-align: middle;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

.menu{
    width: 250px; /* Ajusta el ancho según tus necesidades */
    overflow: auto;
    float: left;
  width: 10%;
    background-color: #75CFB8;
    color: white;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 15px;
   height: 100%;
   font-weight: normal;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    
}
br{
     margin: 10px;
}

#elementoAEliminar {
    display: none;
}

#elementoAEliminar {
        display: block; /* o display: inline; según corresponda */
    }



